<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xM3qJdIB8+IeBzvGjH9LJjKg+dBQrRLr1JQ5uewKr5f5GtRU+I5vEtbLJpL0jzn8WYmxOv+1x+DUGd3mzHQoaw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="override.css">
    <title>William Ferguson</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">William A. Ferguson</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container text-center">
        <img src="william-bw.jpg" alt="Image" class="img-fluid rounded-circle w-25 my-5">
        <h1 class="my-5">William A. Ferguson</h1>
        <h2 class="my-5">Welcome to the website of William A. Ferguson</h2>
    </div>
    <div class="d-flex">
      <a href="https://www.facebook.com/YourPage" target="_blank" class="mr-2"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/YourHandle" target="_blank" class="mr-2"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/YourProfile" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</header>

<article class="container hanging-indent my-5 lead vh-100">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A minima id repudiandae neque optio dolor consectetur, provident omnis placeat mollitia voluptatibus laudantium vero amet quasi saepe incidunt delectus aspernatur facilis?</p>
    <br />
    <p>I make beautiful websites for any kind of business or project.</p>
    <br />
    <div class="row">
      <div class="col-md-6">
        <img src="https://picsum.photos/600/400?random=1" alt="Grand Canyon 1" class="img-fluid mb-4">
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/600/400?random=2" alt="Grand Canyon 2" class="img-fluid mb-4">
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/600/400?random=4" alt="Grand Canyon 3" class="img-fluid mb-4">
      </div>
      <div class="col-md-6">
        <img src="https://picsum.photos/600/400?random=3" alt="Grand Canyon 4" class="img-fluid mb-4">
      </div>
  </div>
    
    
</article>


<!-- about section -->
<section class="vh-100" id="about">
    <div class="container text-center">
        <h2 class="my-5">About Me</h2>
        <div class="row">
            <div class="col-md-6">
              <img src="https://picsum.photos/600/400?random=5" alt="Grand Canyon 1" class="img-fluid mb-4">
            </div>
            <div class="col-md-6">
              <img src="https://picsum.photos/600/400?random=6" alt="Grand Canyon 2" class="img-fluid mb-4">
            </div>
        </div>
    </div>
    <article class="container hanging-indent my-5 lead">
        <p>I'm a drinking artist with a huge modular synth problem. My passion for creating music has taken over my life, and I find myself constantly tinkering with my synthesizers to produce new sounds. Whether I'm crafting ambient soundscapes or experimental beats, I always strive to push the boundaries of what's possible with electronic music.</p><br />
        <p>When I'm not lost in my synth world, I enjoy spending time with my wife and cat Dixie. My wife is my biggest supporter and is always encouraging me to pursue my dreams, no matter how unconventional they may seem. Dixie, our Russian Blue cat, is a constant source of joy and entertainment, and her playful antics never fail to put a smile on my face.</p><br />
        <p>Despite my love for music, I'm not one to take myself too seriously. I'm just as likely to be found sipping on a cold beer as I am tweaking knobs on my synth. To me, the creative process is all about having fun and letting loose, and I try to bring that same energy to everything I do.</p><br />
        <p>Overall, I consider myself lucky to have found a passion that brings me so much joy and fulfillment. Whether I'm jamming out in my studio or enjoying the company of my loved ones, I know that I'm living a life that's true to who I am.</p><br />
        <p>When I'm not making music, I make websites.</p>
    </article>

  
</section>


<!-- contact section -->

<section class="vh-100">
    <div class="container text-center">
        <h2>Contact Me</h2>
    </div>
</section>
<!-- footer -->

<footer class="bg-dark py-3">
    <div class="container text-center">
      <p class="text-white">Copyright © 2023 William A Ferguson</p>
    </div>    
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
